@font-face {
  font-family: 'norsebold';
  src: url('/assets/fonts/norse-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/norse-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.italicize {
  font-style: italic;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.img-container {
  width: 33%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('assets/images/form-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.odin-brand-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 20px;
  width: 100%;
  position: absolute;
  top: 120px;
  left: 0;
}

.odin-brand-container img {
  height: 80px;
  width: 60px;
}

.odin-brand-container p {
  font-family: 'norsebold', sans-serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content-container {
  width: 67%;
  padding-top: 80px;
  background-color: #dae2b6;
}

.content-container p {
  width: 60ch;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 600;
}

.tag {
  padding-left: 40px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 18px;
}

form {
  background-color: #fff;
  width: 100%;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

form h2 {
  font-size: 20px;
  color: rgba(49, 46, 46, 0.863);

  padding-left: 40px;
}

.form-content-container {
  padding-left: 40px;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.form-field {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(26, 24, 24);
  letter-spacing: 1.5px;
}

.form-field input {
  width: 70%;
  margin-top: 5px;
  padding: 3px 2px;
}

.form-field input:focus {
  outline-color: rgb(73, 94, 190) !important;
}

.form-field .error:focus {
  outline-color: rgb(255, 0, 0) !important;
}

.btn-container {
  margin-top: 30px;
  padding-left: 40px;
}

button {
  padding: 10px 40px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(68, 90, 23);
  cursor: pointer;
}

.log-container {
  margin-top: 15px;
}

#login-text {
  font-size: 16px;
  font-weight: 400;
}

#login-text a {
  text-decoration: none;
  color: rgb(68, 90, 23);
}
